*{
    margin: 0;
    padding: 0;

}
body{
    background: rgba(0, 0, 0, 0.7) url('fast-food-dish-blue_155003-27518.webp');
background-size: cover;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.container h1{

    color: orangered;
    margin-left: 10px;
    cursor: pointer;

}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
color:black.;
padding: 4px;
transition: 3.5s;

}
.navbar ul li a:hover{
box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;

}
.navbar .reservation{
    padding: 8px;
    background-color:orangered;

}

.Content{
    position:absolute;
    color: #fff;
    top: 40%;
    left: 30%;
}
.Content h3{
    font-family: sans-serif;
    font-size: 22px;
    margin-left: 15%;
}
.Content h1{

    font-size: 50px;
    
}
.Content p{
text-align: center;
margin-top: 17px;
}
.search{
    position: absolute;
    margin-top: 25%;
    margin-left: 42%;
}
.search input{
    outline: none;
    border: none;
    padding: 12px 40px;
    size: lem;
    width: 100%;

}
.submit{
    position: absolute;
    margin-top: 30%;
    margin-left: 49%;
}
.submit a{
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: orangered;
}
